@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Delius+Unicase&family=Poppins&family=Rowdies:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
}

nav {
    font-size: 20px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    background-color: #292929;
    z-index: 10;
}

.hamburger-menu {
    display: none;
    height: 30px;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu:hover {

}

#inputHamburger {
    width: 60px;
    height: 30px;
    position: absolute;
    left: -10px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: white;
    cursor: pointer;
}

.logo h1 {
    font-family: 'Delius Unicase', cursive;
}

.nav-content ul {
    display: flex;
    gap: 45px;
    max-width: 30%;
}

.nav-content ul li {
    list-style: none;
}

.nav-content ul li a {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.nav-content ul li a {
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.nav-content ul li a:hover {
    background-color: white;
    color: #1E1E1E;
    opacity: 0.9;
}

#About {
    width: 100%;
    height: 850px;
    padding-top: 60px;
}

.sectionTitle {
    width: 100%;
}

.AboutTitle {
    color: gold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 35px;
}

#About .container {
    width: 90%;
    height: 600px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}

#About .about-information {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 35%;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}

#About .about-information:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#About .hero-img {
    padding: 20px;
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}

#About .hero-img:hover {
    transform: rotate(2deg) translate(10px, -10px);
}

.hero-img .hero-1 {
    width: 400px;
    border-radius: 5px;
    transition: 0.3s;
}

.hero-img .hero-2 {
    width: 400px;
    border-radius: 5px;
    transition: 0.3s;
}

#About .hero-img:hover .hero-1{
    margin-bottom: 40px;
}

#About .hero-img:hover .hero-2{
    margin-top: 40px;
}

#Skills {
    width: 100%;
    height: 900px;
}

.SkillsTitle {
    text-align: center;
    color: gold;
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 35px;
}

#Project {
    width: 100%;
    height: 850px;
}

.ProjectTitle {
    text-align: center;
    color: gold;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 35px;
}

.ProjectDesc {
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
    color: white;
}

#Project .container {
    width: 100%;    
    white-space: nowrap;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

#Project .container img {
    height: 340px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 7.5px;
}

/* #Project .left {
    width: 45px;
    height: 45px;
    font-size: 1.4rem;
    background-color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.2s;
}

#Project .left:hover {
    opacity: 0.7;
}

#Project .right {
    width: 45px;
    height: 45px;
    font-size: 1.4rem;
    background-color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s;
}

#Project .right:hover {
    opacity: 0.7;
} */

.descContainer {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.carouselDesc {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
}

#Contact {
    width: 100%;
    height: 900px;
}

.ContactTitle {
    color: gold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 35px;
}

#Contact .container {
    width: 55%;
    height: 55vh;
    margin: auto;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

#Contact .container img {
    width: 55%;
}

#Contact .sidebar {
    width: 50%;
    height: 100%;
    background-color: #292929;
}

.sidebar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar form input {
    width: 80%;
    height: 40px;
    background-color: #292929;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1.5px solid white;
}

.sidebar form textarea {
    width: 80%;
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 1.5px solid white;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    
}

.sidebar form #btnSend {
    width: 30%;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    border: 0;
}

.sidebar h2 {
    padding-left: 20px;
    color: white;
    font-family: 'Rowdies', sans-serif;
    font-size: 37px;
}

.sidebar h2:last-child {
    font-size: 30px;
}

.sidebar-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.line-container {
    width: 100%;
    display: flex;
    opacity: 0.6;
    justify-content: center;
}

.line {
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.carousel-line {
    width: 100%;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.round:first-child {
    left: 9.1%;
}

.round:last-child {
    right: 9.1%;
}

.carousel-line input[type="range"] {
    width: 80%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-appearance: none;
    outline: none;
}

#midline {
    border-radius: 50px;
}

@Media (max-width: 768px) {
    .nav-content ul {
        gap: 20px;
    }

    #About .container {
        flex-direction: column;
    }

    #About .hero-img {
        order: 1;
        margin-top: 150px;
    }

    .satu {
        margin-top: 100px;
    }

    #About .about-information {
        order: 2;
        width: 600px;
        font-size: 15px;
        border-left: 2px solid rgba(255, 255, 255, 0.25);
        margin-top: 20px;
    }

    #About .about-information:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    .hero-img .hero-1 {
        width: 300px;
    }
    
    .hero-img .hero-2 {
        width: 300px;
    }

    #Project{
        height: 670px;
    }

    .carouselDesc {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        padding: 20px;
    }

    #Project .container img {
        height: 250px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 7.5px;
    }

    #midline {
        width: 70%;
    }

    #Contact {
        height: 600px;
    }

    #Contact .container {
        width: 80%;
        height: 350px;
    }

    #Contact .container img {
        width: 50%;
    }
    
    #Contact .sidebar {
        width: 50%;
        height: 100%;
        background-color: #292929;
    }
    
    /* .sidebar form input {

    } */
    
    .sidebar form textarea {
        height: 100px;
    }
    
    .sidebar form #btnSend {
        width: 27%;
        height: 35px;
        margin-top: 4px;
    }
    
    .sidebar h2 {
        font-size: 25px;
    }
    
    .sidebar h2:last-child {
        font-size: 20px;
    }
    
    .sidebar-title {
        padding: 10px;
    }
    
    
}

@Media (max-width: 576px) {
    .nav-content ul {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    #About .container {
        flex-direction: column;
    }

    #About .hero-img {
        order: 1;
        margin-top: 30px;
    }

    #About .about-information {
        order: 2;
        width: 400px;
        font-size: 14px;
        border-left: 2px solid rgba(255, 255, 255, 0.25);
    }

    .satu {
        margin-top: 0px;
    }

    .hero-img .hero-1 {
        width: 200px;
    }
    
    .hero-img .hero-2 {
        width: 200px;
    }

    #About .hero-img:hover .hero-1{
        margin-bottom: 20px;
    }
    
    #About .hero-img:hover .hero-2{
        margin-top: 20px;
    }

    #About .hero-img:hover {
        transform: rotate(0deg);
    }

    .carouselDesc {
        font-size: 1rem;
        padding: 20px;
    }

    #Contact {
        height: 500px;
    }

    #Contact .container {
        width: 80%;
        height: 270px;
    }

    #Contact .container img {
        width: 50%;
    }
    
    #Contact .sidebar {
        width: 50%;
        height: 100%;
        background-color: #292929;
    }
    
    /* .sidebar form input {

    } */
    
    .sidebar form textarea {
        height: 80px;
        font-size: 12px;
        padding: 5px;
    }
    
    .sidebar form #btnSend {
        width: 27%;
        height: 30px;
        font-size: 15px;
    }
    
    .sidebar h2 {
        font-size: 20px;
        padding-left: 10px;
    }
    
    .sidebar h2:last-child {
        font-size: 15px;
    }

    .sidebar form input {
        height: 20px;
        font-size: 12px;
    }
}

@Media (max-width: 375px) {

    #About {
        height: 630px;
    }

    #About .container {
        flex-direction: column;
        justify-content: stretch;
        height: 500px;
    }

    .AboutTitle {
        padding-top: 35px;
        padding-bottom: 35px
    }

    #About .hero-img {
        order: 1;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .hero-img .hero-1 {
        width: 125px;
    }
    
    .hero-img .hero-2 {
        width: 125px;
    }

    #About .hero-img:hover .hero-1{
        margin-bottom: 20px;
    }
    
    #About .hero-img:hover .hero-2{
        margin-top: 20px;
    }

    #About .about-information {
        width: 260px;
        font-size: 12px;
        padding: 10px;
        margin-top: 0;
        border-radius: 10px;
    }

    #Skills {
        height: 600px;
    }

    #Project {
        height: 600px;
    }

    .wrapper {
        width: 75%;
    }
    
    #Project .container img {
        height: 200px;
    }

    .carouselDesc {
        font-size: 0.8rem;
        padding: 20px;
    }

    .carouselDesc {
        font-size: 1rem;
        padding: 20px;
    }

    #Contact {
        height: 450px;
    }

    #Contact .container {
        width: 80%;
        height: 200px;
    }

    #Contact .container img {
        width: 50%;
    }
    
    #Contact .sidebar {
        width: 50%;
        height: 100%;
        background-color: #292929;
    }

    .sidebar form textarea {
        height: 50px;
        font-size: 9px;
        padding: 2px;
        margin-bottom: 5px;
    }
    
    .sidebar form #btnSend {
        width: 27%;
        height: 20px;
        font-size: 10px;
    }
    
    .sidebar h2 {
        font-size: 13px;
        padding-left: 5px;
    }
    
    .sidebar h2:last-child {
        font-size: 11px;
    }

    .sidebar form input {
        height: 15px;
        font-size: 10px;
    }
}

